In [1]:
##What are variables?
#Variables are used to store values in memory. We can store integers, decimals, characters, words or sentences in a variable. 
#In order to assign value to a variable, use the equal(=) sign
x=1 #integer
y='2' #string
name='Gomathi' #string
flt=2.3 #float

In [2]:
name,x,y

('Gomathi', 1, '2')

In [3]:
#Data types in Python
#Python has 6 standard data types:
#1.Boolean
#2.Numbers
#3.String
#4.List
#5.Dictionary
#6.Tuple

In [4]:
x=(2==3)

In [5]:
x

False

In [6]:
#print function
print("Welcome to python programming tutorial")

Welcome to python programming tutorial

In [8]:
print(2*8)

16

In [7]:
savings=100
result=round((100*(1.1**7)),2)
print('I started with '+ str(savings)+ "$  and now I have " + str(result) +'$')

I started with 100$  and now I have 194.87$

In [23]:
#CONCATENATION-----String Addition
#str1+str2 is possible but str+int is not possible
#REPITITION-----String multiplication
#str*int is possible but str*str is not possible
str1="Hello"
str2="world"
print(str1 + str2)
print(str1*2)

Helloworld
HelloHello

In [12]:
#Determining the type of object with type()
#If you are confused regarding what class an object belongs to simply use the type() function. 
#In the example above the types of the variables are int, float and str respectively.
a=4
print(type(a))

<class 'int'>

In [14]:
#Checking instance type with isinstance()

#The isinstance() function checks if the object (first argument) is an instance or subclass of classinfo (second argument).
#Its syntax is: isinstance(object, classinfo)
#It returns True if the object is an instance or subclass of a class, or any element of the tuple False otherwise.
b=5
isinstance(b, int)

True

In [1]:
#Numeric Types
#int 
#float
#complex
x=2
y=4.5
z=1+2j

In [2]:
print(type(z))

<class 'complex'>

In [6]:
x+y
x-y
y//x#interger division
y**x#y to the power x
pow(x,y)

22.627416997969522

In [22]:
c=-8
abs(c)#absolute value

8

In [17]:
from math import log
log(2)

0.6931471805599453

In [19]:
import math
math.log10(2)

0.3010299956639812

In [24]:
del c ##to delete the variable

In [25]:
c

NameError: name 'c' is not defined

In [27]:
##type conversion
x=2
y=str(x)

In [28]:
y

'2'

In [29]:
type(y)

str

In [30]:
type(x)

int

In [31]:
#type conversion
a=2.5
b=int(a)
print(b)

2

In [9]:
#A string is a collection of alphabets, words or characters represented with the help of quotation marks. 
#Python has a built-in class for named str for handling string-related operations.
name="gomathitamilselvam"
#Use Python's built-in len() function to find the length of strings.
length=len(name)
print(length)

18

In [10]:
#Slicing and Indexing in Strings
print(name[0:7])

gomathi

In [12]:
print(name[-18:-11])

gomathi

In [45]:
#The actual slicing syntax is [Start index (included): Stop index (excluded): Stride].
print(name[0:7:2])

gmti

In [46]:
#membership operators
'g' in name

True

In [47]:
'p' in name

False

In [48]:
'p' not in name

True

In [50]:
certificate_name=name.upper()
print(certificate_name)

GOMATHITAMILSELVAM

In [53]:
mom_name='T.nambi alwar'
mom_name.split('.')

['T', 'nambi alwar']

In [54]:
mom_name.replace('n','N')

'T.Nambi alwar'

In [59]:
print(mom_name.title())

T.Nambi Alwar

In [64]:
print(mom_name.strip('.'))

T.nambi alwar

In [66]:
##Strings are immutable
dad_name='Tamilselvam'
dad_name[-1]='n'
dad_name

TypeError: 'str' object does not support item assignment

In [68]:
##String Formatting
#Python’s str.format() method of the str class allows you to do variable substitutions and value formatting. 
#Formatters work by putting in one or more replacement fields or placeholders — defined by a pair of 
#curly braces {} — into a string and calling the str.format() method.

#When you pass into the method the value you want to concatenate with the string, this value will appear in 
#the same place that your placeholder is positioned when you run the program.

print("hello {0} how is {1}".format(name,mom_name))

hello gomathitamilselvam how is T.nambi alwar

In [70]:
print("{1} is fine-------{0}".format(name,mom_name))

T.nambi alwar is fine-------gomathitamilselvam

In [2]:
#Data Structures in python

#1.List is a collection of elements which is ordered and mutable (i.e. it's values can be changed after creation).
#Elements of the list are enclosed in square brackets []. You can create a list in Python using square brackets 
#separated by commas and assigning the same to a variable.
scores = [80, 90, 95, 100]

In [3]:
scores

[80, 90, 95, 100]

In [4]:
id(scores)

2139178122120

In [5]:
scores[2]=85

In [6]:
scores

[80, 90, 85, 100]

In [7]:
id(scores)

2139178122120

In [1]:
a=[1,2,3]
b=[4,5,6]
len(a)

3

In [2]:
a+b

[1, 2, 3, 4, 5, 6]

In [3]:
max(b)

6

In [4]:
min(b)

4

In [5]:
b.reverse()

In [6]:
b

[6, 5, 4]

In [7]:
a.append(10)
a

[1, 2, 3, 10]

In [8]:
a.extend(b)#extend extends the list
a

[1, 2, 3, 10, 6, 5, 4]

In [9]:
a.append(b)#append just adds the former to later
a

[1, 2, 3, 10, 6, 5, 4, [6, 5, 4]]

In [10]:
a.pop()

[6, 5, 4]

In [11]:
a

[1, 2, 3, 10, 6, 5, 4]

In [12]:
a.pop()

4

In [14]:
a.remove(10)

In [15]:
a

[1, 2, 3, 6, 5]

In [16]:
#2.Dictionaries--It consists of key value pairs where value can be accessed by unique key in the dictionary
fruits ={ 'apple' : 'green','banana' : 'yellow', 'cherry' : 'red' }
fruits['apple'] = 'red'
d2={'guava' : 'green'}
del fruits['cherry']
fruits.update(d2)
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'guava': 'green'}

In [17]:
fruits['mango']='yellow'#adding new key value pair

In [18]:
fruits

{'apple': 'red', 'banana': 'yellow', 'guava': 'green', 'mango': 'yellow'}

In [19]:
fruits.get('guava')#accessing the value using .get()

'green'

In [24]:
#max function in dictionary
math={'raj':25,'rahul':30,'rohit':35}
topper=max(math,key=math.get)
topper

'rohit'

In [25]:
#3.Tuples are another type similar to lists. They store values of any type separated by commas. 
#Firstly, they start and end with parenthesis (). For ex: (1,2,3,4).
#But the main difference is unlike lists tuples are immutable i.e. they cannot be updated/changed. 
#You can think of them as read-only lists
t=(1,2,3,4,'m')

In [26]:
t

(1, 2, 3, 4, 'm')

In [27]:
len(t)

5

In [29]:
t*2

(1, 2, 3, 4, 'm', 1, 2, 3, 4, 'm')

In [30]:
t[0:4]

(1, 2, 3, 4)

In [31]:
t[-1]

'm'

In [32]:
t[0]=11

TypeError: 'tuple' object does not support item assignment

In [ ]:
#mutable and immutable
#Immutable Object: int, float, long, complex, string, tuple, bool(cant be modified in same memory location)
#Mutable Object: list, dict, set, byte array, user-defined classes(modified in same memory location)

In [33]:
l=[1,3,5,7,5] 
l.remove(5)
l

[1, 3, 7, 5]

In [34]:
var_1=(1,1,1)
var_2=(2,2,2)
var_1+var_2

(1, 1, 1, 2, 2, 2)

In [ ]:
##OPERATORS IN PYTHON
#Types of Operators
#Python supports the following types of operators:
#1.Arithmetic Operators
#2.Comparison (Relational) Operators
#3.Logical Operators
#4.Assignment Operators
#5.Bitwise Operators
#6.Membership Operators
#7.Identity Operators

In [5]:
#ARITHMETIC OPERATORS
x=15
y=4
addition = x+y
subtraction = x-y
multiplication = x*y
division = x/y
integer_division=x//y
exponent = x**y
print(f"The sum of x and y is",addition)
print(f"The diff of x and y is",subtraction)
print(f"The product of x and y is",multiplication)
print(f"The division of x and y is",division)
print(f"The integer division of x and y is",integer_division)
print(f"The expoential value of x to power y is",exponent)

The sum of x and y is 19
The diff of x and y is 11
The product of x and y is 60
The division of x and y is 3.75
The integer division of x and y is 3
The expoential value of x to power y is 50625

In [14]:
#COMPARISON OPERATOR
x=10
y=12
x>y
print("Is x gretaer than y? {}".format(x>y))
x<y
is_less=x<y
print("Is x less than y? {}".format(is_less))
x==y
is_equal=x==y
print("Is x equal to y? {}".format(is_equal))
x>=y
is_greater_equal=x>=y
print("Is x greater than or equal to y? {}".format(is_greater_equal))
x<=y
is_less_equal=x<=y
print("Is x less than or equal to y? {}".format(is_less_equal))

Is x gretaer than y? False
Is x less than y? True
Is x equal to y? False
Is x greater than or equal to y? False
Is x less than or equal to y? True

In [16]:
#LOGICAL OPERATORS
x, y = True, False
x and y
x_and_y=x and y
x or y
x_or_y=x or y
print("x AND Y is {}".format(x_and_y))
print("x OR y is {}".format(x_or_y))
print("x NOT y is {}".format(not(x and y)))

x AND Y is False
x OR y is True
x NOT y is True

In [22]:
#MEMBERSHIP OPERATORS
name = "John"
JOHN_1=name in ["John","Rick"]
JOHN_2=name in ["Hall","Rick"]
print("John in list name? {}".format(JOHN_1))
print("John in list name? {}".format(JOHN_2))

John in list name? True
John in list name? False

In [32]:
#IDENTITY OPERATORS
x1=5
y1=5
x2='Hello'
y2='Hello'
d1={'a':1,'b':2}
d2={'a':1,'b':2}
l1=[1,2,3]
l2=[1,2,3]
# Code starts here
x1_is_y1=x1 is y1
print("Is id(x1)=id(y1){}".format(x1_is_y1))
x2_is_y2=x2 is y2
print("Is id(x2)=id(y2){}".format(x2_is_y2))
d1_is_d2=d1 is d2
print("Is id(d1)=id(d2){}".format(d1_is_d2))
print("Is id(l1)=id(l2){}".format(l1 is l2))
# Code ends here
#NOTE--MUTABLE OBJECTS ID'S ARE DIFFERENT FOR SAME VALUES

Is id(x1)=id(y1)True
Is id(x2)=id(y2)True
Is id(d1)=id(d2)False
Is id(l1)=id(l2)False

In [29]:
#ASSIGNMENT OPERATORS
#x += a is equivalent to x = x + a
#x -= a is equivalent to x = x - a
#x *= a is equivalent to x = x * a
#x /= a is equivalent to x = x / a
#x //= a is equivalent to x = x // a
#x %= a is equivalent to x = x % a

In [30]:
a=5
b=-2
c=2
print((c) and (b<0) and (a>0))

True

In [1]:
##CONTROL AND LOOP STATEMENTS
#1.if-elif-else--conditions can be written against if and elif statement only and not after else statement
x=5
#example 1
if (x>10):
    print("Your value is greater than 10. ")
elif (x>7):
    print("Your value is between 7 and 10.")
elif(x>1):
    print("Your value is between 1 and 7.")
#example 2  
num=-8
condition=None
if num>0:
      condition='positive'
elif num<0:
      condition='negative'
else:
      condition='zero'
print(condition)

Your value is between 1 and 7.
negative

In [5]:
#example 3
x=1
if x%2==0:
    print("x is even no")
elif ((x%2!=0)&(x!=1)):
    print("x is odd no")
else:
    print("x is 1")

x is 1

In [9]:
#nested if else statement
x=-5
if x>=0:
    if x==0:
        print("x is zero")
    elif x>0:
        print("x is positive")
else:
    print("x is negative")

x is negative

In [1]:
#2.While Loop
#The while loop is used to repeat a section of code an unknown number of times until a specific condition is met. 
factors=[]
num=1
while num<=50:
     if num%4==0:
            factors.append(num)
     num=num+1     
print(factors)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

In [ ]:
#3.for loop
#A for loop is used to repeat a specific block of code a known number of times. 
#For example, if you want to check the grade of every student in the class, we loop from 1 to that number. 
#In general, when the number of times is not known before hand, we use a while loop.
#Like all loops, for loops execute blocks of code over and over again. 
#The advantage to a for loop is we know exactly how many times the loop will execute before the loop starts

In [8]:
divisible=[]
for x in range(1,51,1):
    if ((x%2==0) | (x%3==0)) :
        divisible.append(x)
print(divisible)

[2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50]

In [9]:
#LOOP CONTROL STATEMENTS
#break-----Terminates the loop and control shifts to the first statement outside it
multiples=[]
for i in range(1,101):
    if i%3!=0:
       multiples.append(i)
    else:
        break
print(multiples)

[1, 2]

In [10]:
#continue----Causes the loop to skip the remainder of its body and shifts to the next item in the sequence
multiples=[]
for i in range(1,101):
    if i%3!=0:
       multiples.append(i)
       continue
    else:
        continue
print(multiples)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

In [14]:
multiples=[]
multiples_of_3=[]
for i in range(1,101):
    if i%3!=0:
       multiples.append(i)
       continue
    else:
        multiples_of_3.append(i)
print(multiples)
print(multiples_of_3)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [15]:
#pass---Used when statement is required but we don't want any output
multiples=[]
for i in range(1,101):
    if i%3!=0:
       multiples.append(i)
    else:
        pass
print(multiples)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

In [18]:
#input function
name=(input())

goms

In [20]:
type(name)

str

In [4]:
#FILE HANDLING IN PYTHON
#filepath=text_file
##Code starts here
##open file in read mode
#txtfile=open (filepath,mode='r')
##iterate over the file object
#filelines=txtfile.readlines()
#for line in filelines:
   # print(line)
# close the file
#txtfile.close()
##open file in write mode
#txtfile=open(filepath,mode='a+')
##write to the file
#txtfile.write("Successfully written to the text file")
##close the file
#txtfile.close()
# Code ends here

# Caution : do not delete this code
#file = open(filepath,'r')
#lines=[]
#for line in file.readlines():
 #   lines.append(line)
#file.close()

In [6]:
#Exceptions
Exceptions
#An exception is a Python object that represents an error. 
#If the normal flow of the program gets disrupted inspite of being syntactically correct, 
#Python raises an exception; which if not handled properly, the program will terminate.

#Remember that exceptions always occur at run-time. Python comes with various built-in 
#exceptions as well as the possibility to create self-defined exceptions which we will be discussing in the upcoming topics.
# custom input
num = int(input())

# raise exception if input is negative
if num < 0:
    raise Exception('{} is negative, please enter a positive number'.format(num))

# print input number if it is not negative
print('Your number is accepted!')

10
Your number is accepted!

In [7]:
# try and except
num1, num2 = 5, 0
try:
    quotient=num1/num2
    message="Quotient is"+ ' ' + str(quotient)
    print(message)
except ZeroDivisionError:
    message= "Cannot divide by zero"
    print(message)

Cannot divide by zero

In [8]:
#try except else finally 
num1, num2 = 5, 5
try:
    quotient=num1/num2
    message= "Quotient is"+ ' ' + str(quotient)        
    print(message)
except ZeroDivisionError:
    message="cannot divide by zero"
    print(message)
else:
    new_message="No exceptions occurred"
    print(new_message)
finally:
    final_message="Execution completed!"
    print(final_message)

Quotient is 1.0
No exceptions occurred
Execution completed!

In [11]:
#What is a function and why are they important?
#Function is a block of code that is meant to perform a single, relatable task. During problem solving, 
#it becomes necessary to break a problem into smaller tasks; functions do just that. 
#It makes our code more readable and modular. It also avoids repitition and makes code reusable.

#Python provides a lot of in-built functions like len(), print() etc. Like any other programming language, 
#Python also provides support to create customized functions also called user defined functions.

def simple_int(p,r,t):
    int=p*r*t/100
    amt=p+int
    return amt
print("The amt after t years becomes {}".format(simple_int(1000,6,2)))

The amt after t years becomes 1120.0

In [12]:
def mean(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    mean=sum/n
    return(mean)
val=mean(4)
print(val)

2.5

In [19]:
#Scoping
#How long a variable exists, depends on where it is defined. We call the part of a program where a
#variable is accessible its scope, and the duration for which the variable exists its lifetime. 
#For example parameters and variables defined inside a function is/are not visible from outside. 
#Hence, they have a local scope. Variables declared outside a function have global scopes and they 
#can be used throughout the program.

#To use a local variable as a global one, use the global keyword before the variable name. 
#In this way Python understands that you are using the reference of the global variable.

#Lets understand this with an example below:

def f():
    # Local scope
    s1= "Me too."
    print(s1)
x=f()
# Global scope
s = "Its great."
#print(x)
print(s)

Me too.
Its great.

In [22]:
#Why lambda functions?
#They are usually small and can have any number of arguments just like a normal function
sum_lambda=lambda x,y:x+y
summ=sum_lambda(2,5)
print(summ)
#In the above example:
#sumLambda is a function that takes in two numbers and returns the sum.
#Arguments lie in between the word lambda and the colon (:).
#The function body lies to the right of the :
#There is no return statement, the function body is sufficient.

7

In [23]:
square=lambda x:x**2
nums=[]
square_nums=[]
for i in range (1,15):
    s=square(i)
    square_nums.append(s)
print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [ ]:
#MAP,FILTER AND REDUCE
#Higher order functions are those functions which can accept other functions as arguments. 
#Python provides support for them too. Some of the examples of higher order functions are map(), reduce(), filter() etc.

In [25]:
#map function
sq=lambda x:x**2
sq_num=map(sq,range(1,11))
print(list(sq_num))

<map object at 0x000001EACE6CE7F0>

In [27]:
#filter function
def pos(x):
    return x>0
print(list(filter(pos,[-1,2,88,-9])))

[2, 88]

In [29]:
#filter function
natural_nums=range(1,20,1)
is_even=lambda x:x%2==0
print(list(filter(is_even,natural_nums)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
#reduce function
# import reduce
from functools import reduce

# function to divide two numbers
def add(x,y):
    return x + y

# reduce function
reduced = reduce(add, ['a', 'b', 'c','d','e'])
print(reduced)

abcde

In [ ]:
#Comprehensions
#By now, you are already familiar with existing data structures in Python like lists, tuples, dictionaries etc. 
#All of them need a significant amount of time and code length to create till now.
#But they can be created in a much shorter format which is more time-efficient as well as readable. 
#They are called comprehensions.
#Depending on the type of brackets you use, they may be called:
#[ ] as list comprehension
#( ) as generator expressions
#{ } for dictionary and set comprehensions
#The syntax for comprehensions remains the same irrespective of the type of bracket we chose and is given below
#[expression(iterator) for iterator in iterable if condition]

In [37]:
x=[i for i in range (1,30) if i%3==0]
x

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [38]:
# Code starts here
# initialize both lists
alist=[i for i in range(1,51)]
blist=[2,3,5,7,11,13,17,19,23,29,31,37,41,43,47]
# final list
final=[i for i in alist if i not in blist]
# display final list
print(final)
# Code ends here

[1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50]